/* Général */
@font-face {
  font-family: "hollywood_festivalregular";
  src: url("../fonts/hollywood_festival-webfont.woff2") format("woff2"),
    url("../fonts/hollywood_festival-webfont.woff") format("woff"),
    url("..fonts/Hollywood Festival.ttf");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-family: "arial";
  font-size: 16px;
}

h1 {
  color: #d6022b;
  text-shadow: 1px 1px 1px white;
  font-size: 75px;
  font-family: "hollywood_festivalregular", sans-serif;
}

h2 {
  color: #d6022b;
  font-size: 50px;
  font-family: sans-serif;
}

h3 {
  color: #d6022b;
  font-size: 30px;
  font-family: sans-serif;
}

a {
  /* color: rgb(70, 202, 8); Couleur rose/orangé à tester */
  color: white;
  padding: 20px;
  text-decoration: none;
  transition: 1s;
}

a:hover {
  /* color: rgb(255, 251, 0); */
  color: #d6022b;
}

/* Partie Hero */
#hero {
  background: url(images/geralt_abstract-pix.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  padding-bottom: 1%;
}

nav {
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  padding: 20px;
}

#bandeau {
  background-color: rgba(255, 255, 255, 0.5);
  margin-top: 10%;
  margin-bottom: 10%;
}

#contenu {
  text-align: center;
  padding: 4%;
  /* width: 50%; */
}

#contenu a {
  color: #d6022b;
  border: 1px solid #d6022b;
  border-radius: 15px;
  padding: 20px;
  transition: ease 1.5s;
}

#contenu a:hover {
  color: white;
  background-color: #d6022b;
}

/* #contenu img:hover {
  transform: rotateY(180deg);
} */

/* #bordure {
  width: 354px;
  height: 432px;
  border: white 1px solid;
  border-radius: 50%;
} */

#contenu img {
  border-radius: 50%;
  transition: 1s;
}

#contenu img:hover {
  transform: rotateY(180deg);
}

/* Partie A propos */
#apropos {
  display: flex;
}

#apropos_image {
  flex: 1;
}

#apropos_image img {
  flex: 1;
  max-width: 100%;
}

#apropos_texte {
  padding: 20px;
  flex: 2;
  text-align: justify;
}

/* Partie Services */
#services {
  display: flex;
  background-color: rgb(70, 67, 70);
  color: white;
  padding: 20px;
  text-align: center;
}

.services_item p {
  text-align: justify;
  padding: 20px;
}

#reseaux {
  display: flex;
  justify-content: center;
}

#reseaux a {
  color: black;
}

#reseaux a:hover {
  color: #d6022b;
}

.social {
  padding: 20px;
}

footer {
  text-align: center;
}

/* Partie Modal */
.modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(243,235,72,0.76);
  height: 100%;
  width: 100%;
  z-index: 1;
  overflow: auto;
}

.modalBloc {
  margin: 10% auto;
  padding: 70px;
  width: 50%;
  text-align: center;
  background-color: white;
  color: black;
  border-top: 10px solid black;
}

.modalBtn {
  margin: 5%;
}

.modalBtn a {
  color: white;
  background-color: black;
}

.modalBtn a:hover {
  opacity: 0.7;
}

.modalTextTitle {
  font-size: 60px;
  font-family: 'Lobster', cursive;
}

.modalTextSubtitle {
  font-size: 20px;
}

.modalText img {
  width: 60%;
}

/* Partie Responsive */
@media screen and (max-width: 414px) {
  nav a {
    display: block;
    padding: 10px;
  }

  #apropos {
    flex-direction: column;
  }

  #services {
    flex-direction: column;
  }

  .modalTextTitle {
    font-size: 40px;
  }

  .modalBtn a {
    display: block;
    margin-bottom: 5%;
  }
}
